$ANIMATION_DURATION: 300ms;

@mixin animation-opacity-exit($duration: $ANIMATION_DURATION) {
  animation: opacity-exit $duration;

  @keyframes opacity-exit {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
  
@mixin animation-opacity-enter($duration: $ANIMATION_DURATION) {
  animation: opacity-enter $duration;

  @keyframes opacity-enter {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}